@{
    ViewBag.Title = "訂單首頁";
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <h4>搜尋訂單</h4>
    <div>
        @using (Html.BeginForm("SearchOrder", "Order"))
        {
            <table class="table">
                <tr>
                    <td>訂單編號</td>
                    <td>
                        <input type="text" class="k-textbox" name="OrderId" id="OrderId" />
                    </td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>客戶名稱</td>
                    <td>
                        <input id="Cust" />
                    </td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>負責員工</td>
                    <td><input id="Emp" /></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>出貨公司</td>
                    <td><input id="Shipper" /></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>訂購日期</td>
                    <td>
                        <input type="date" name="Orderdate" id="Orderdate" />
                    </td>
                    <td>出貨日期</td>
                    <td>
                        <input type="date" name="ShippedDate" id="ShippedDate" />
                    </td>
                </tr>
                <tr>
                    <td>需要日期</td>
                    <td>
                        <input type="date" name="RequiredDate" id="RequiredDate" />
                    </td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <input type="submit" value="查詢" class="k-button" />
                        <input type="reset" value="清空" class="k-button" />
                    </td>
                    <td></td>
                    <td></td>
                </tr>
            </table>

        }
        <div id="grid"></div>
    </div>
</body>

</html>
<script type="text/javascript">

    $(function () {
        InitGrid();
        InitDropDwonList("Cust");
        InitDropDwonList("Emp");
        InitDropDwonList("Shipper");
    });

    function InitGrid() {
        $("#Orderdate").kendoDatePicker();
        $("#ShippedDate").kendoDatePicker();
        $("#RequiredDate").kendoDatePicker();
        $("#EmpId").kendoComboBox();
        $("#ShipperId").kendoComboBox();
        $("#OrderId").kendoMaskedTextBox({
            mask: "11000"
        });
        var dataSource = new kendo.data.DataSource({
            transport: {
                read: {
                    url: "GetAllOrder",
                    dataType: "json"
                },
                update: {
                    url: "UpdateOrder",
                    type: "POST",
                    dataType: "json"
                },
                destroy: {
                    url: "DeleteOrder",
                    type: "POST",
                    dataType: "json"
                },
                parameterMap: function (data, type) {
                    if (type != "read") {
                        // send the destroyed data items as the "models" service parameter encoded in JSON
                        return { jsonobj: kendo.stringify(data) }
                    }
                }
            },
            pageSize: 10,
            schema: {
                model: {
                    id: "OrderId",
                    fields: {
                        OrderId: {
                            editable: false,
                            // a defaultValue will not be assigned (default value is false)
                            nullable: true
                        },
                        CustId: {
                            type: "number"
                        },
                        CustName: {
                            type: "String"
                        },
                        EmpId: {
                            type: "number"
                        },
                        EmpName: {
                            type: "String"
                        },
                        Orderdate: {
                            type: "date"
                        },
                        RequiredDate: {
                            type: "date"
                        },
                        ShippedDate: {
                            type: "date"
                        },
                        ShipperName: {
                            type: "String"
                        },
                        Freight: {
                            type: "number"
                        },
                        ShipName: {
                            type: "String"
                        },
                        ShipAddress: {
                            type: "String"
                        },
                        ShipCity: {
                            type: "String"
                        },
                        ShipRegion: {
                            type: "String"
                        },
                        ShipPostalCode: {
                            type: "String"
                        },
                        ShipCountry: {
                            type: "String"
                        }
                    }
                }
            }
        });

        $("#grid").kendoGrid({
            editable: "popup",
            dataSource: dataSource,
            selectable: true,
            scrollable: false,
            sortable: true,
            resizable: true,
            columnMenu: true,
            pageable: {
                refresh: true,
                pageSizes: true
            },
            columns: [
                {
                    field: "OrderId",
                    title: "OrderId"
                },
                {
                    field: "CustName",
                    title: "CustName",
                    editor: CustDropDownEditor
                },
                {
                    field: "Orderdate",
                    title: "Orderdate",
                    template: "#= kendo.toString(kendo.parseDate(Orderdate, 'yyyy/MM/dd'), 'yyyy/MM/dd') #"
                },
                {
                    field: "ShippedDate",
                    title: "ShippedDate",
                    template: "#= kendo.toString(kendo.parseDate(ShippedDate, 'yyyy-MM-dd'), 'yyyy/MM/dd') #"
                },
                {
                    field: "ShipperName",
                    title: "ShipperName"
                }, {
                    field: "ShipAddress",
                    title: "ShipAddress"
                }, {
                    field: "ShipCity",
                    title: "ShipCity"
                }, {
                    field: "ShipRegion",
                    title: "ShipRegion"
                }, {
                    field: "ShipPostalCode",
                    title: "ShipPostalCode"

                }, {
                    field: "ShipCountry",
                    title: "ShipCountry"
                },
                {
                    command: ["edit", "destroy"]
                }
            ]
        });
    }

    function InitDropDwonList(type) {
        $('#' + type).kendoComboBox({
            placeholder: "Select",
            dataTextField: "Text",
            dataValueField:  "Value",
            dataSource: {
                type: "json",
                transport: {
                    read: {
                        url: "LoadSelectListItem",
                        type: "POST",
                        dataType: "json",
                        data: function () {
                            return {
                                listName: type,
                                defaultId: 0
                            };
                        }
                    }
                }
            }
        });
    }
    function CustDropDownEditor(container, options) {
        $('<input required name="' + options.field + '"/>')
            .appendTo(container)
            .kendoDropDownList({
                autoBind: false,
                dataTextField: "CustName",
                dataValueField: "CustID",
                dataSource: {
                    transport: {
                        read:  {
                            url: "LoadSelectListItem",
                            type: "POST",
                            dataType: "json",
                            data: function () {
                                return {
                                    listName: "Cust",
                                    defaultId: 0
                                };
                            }
                        }
                    }
                }
            });
    }


</script>