@model List<WebApplication1.Models.Order>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        
            <table>
            <tr>
                <td>訂單編號</td>
                <td>客戶名稱</td>
                <td>訂購日期</td>
                <td>發貨日期</td>
                <td></td>
                <td></td>
            </tr>
          
           @foreach (var aa in Model)
           {
            <tr>
                <td>@aa.OrderId</td>
            </tr>
           }
        </table>
    </div>
</body>
</html>
